@model UyeVM

@{
    ViewData["Title"] = "Ekle";
}
<h4>Üye Ekleme Bölümü</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyad" class="control-label"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label"></label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciYorum" class="control-label"></label>
                <textarea asp-for="KullaniciYorum" name="KullaniciYorum" class="form-control"></textarea>
                <span asp-validation-for="KullaniciYorum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailAdresi" class="control-label"></label>
                <input asp-for="MailAdresi" class="form-control" />
                <span asp-validation-for="MailAdresi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciResimYolu" class="control-label"></label>
                <input asp-for="KullaniciResim" type="file" class="form-control" accept=".jpg,.png,.gif,.jpeg" />
                <span asp-validation-for="KullaniciResimYolu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" asp-items="Html.GetEnumSelectList<Role>()" class="form-select">
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogumGunu" class="control-label"></label>
                <input asp-for="DogumGunu" class="form-control" />
                <span asp-validation-for="DogumGunu" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OnayliMi" /> @Html.DisplayNameFor(model => model.OnayliMi)
                </label>
            </div>           
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="link-success" asp-action="Index">Geri Dön</a>
</div>
<script>
    CKEDITOR.replace('KullaniciYorum');
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
